

.header {
     position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: #343a40;
  /* position: fixed; */
  top: 0;
  z-index: 1000;
}

.navbar-fixed {
  position: fixed;
  top: 0;
  width: 100%;
  
  z-index: 1000;
}

.navbar-brand {
  font-size: 1.5rem; /* Adjust size as needed */
  font-family: 'Roboto', sans-serif;
  width: 50%;
  padding-left: 2rem;
   color:rosybrown !important;
}



.nav-link {
  font-size: large; /* Adjust size as needed */
  margin-left: 1rem;
  margin-right: 1rem;
  padding-left: 5px;
  padding-right:5px;
  font-family: 'Roboto', sans-serif;
  color: rosybrown !important;

}

/* .nav-link:hover{
    text-decoration: underline !important;
} */
.nav-collapse{
  width: 30%; 
  display: inline-flex !important;
}



.nav-text{
    font-size:small;
      color: rosybrown !important;
      padding-bottom: 5rem;
}



.navbar-light .navbar-nav .nav-link {
  color: rosybrown;
}

.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
}

.icon-nav-theme{
  padding:5px;
}

.theme-toggle .react-switch {
  display: flex;
  align-items: center;
  margin-left: 1px;
  margin-right:1px;
  border-color: black;

  
}

.theme-icon{
    align-items: center;
    position: absolute;
    
  left: 8px;
  top: 5px;
  width: 18px;
  height: 18px;
}


