

/* src/components/Header.css */
.header {
     position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: #343a40;
  /* position: fixed; */
  top: 0;
  z-index: 1000;
}

.navbar-fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-brand {
  font-size: 1.5rem; /* Adjust size as needed */
  font-family: 'Roboto', sans-serif;
  width: 70%;
   color:rosybrown !important;
}



.nav-link {
  font-size: large; /* Adjust size as needed */
  margin-left: 1rem;
  margin-right: 1rem;
  font-family: 'Roboto', sans-serif;
  color: rosybrown !important;

}

/* .nav-link:hover{
    text-decoration: underline !important;
} */




.nav-text{
    font-size:small;
      color: rosybrown !important;
      padding-bottom: 5rem;
}

.header.light {
  background-color: #f8f9fa;
}

.header.dark {
  background-color: #343a40;
}

.navbar-light .navbar-nav .nav-link {
  color: rosybrown;
}

.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
}

.theme-toggle .react-switch {
  display: flex;
  align-items: center;
  margin-left: 8px;
  margin-right:4px;
  border-color: black;
  
}

.theme-icon{
    align-items: center;
    position: absolute;
    
  left: 8px;
  top: 5px;
  width: 18px;
  height: 18px;
}

/* .react-switch {
  position: absolute;
  left: 8px;
  right:8px;
  top: 5px;
  width: 24px;
  height: 24px;
} */

