.App {
  text-align: center;
  padding: 5px;
}


/* src/App.css */
.d-flex {
  display: flex !important;
}

.flex-column {
  flex-direction: column !important;
}

.min-vh-100 {
  min-height: 100vh !important;
}

.flex-grow-1 {
  flex-grow: 1 !important;
}
.content-container {
  flex-grow: 1;
  overflow-y: auto;
  padding: 1rem;
}

.navbar-fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.footer-fixed {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}

/* src/App.css */
.content-container::-webkit-scrollbar {
  width: 12px;
}

.content-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.content-container::-webkit-scrollbar-thumb {
  background-color: rosybrown;
  border-radius: 10px;
  border: 3px solid #f1f1f1;
}


/* src/App.css */
body.light-theme {
  background-color: #ffffff;
  color: #000000;
}

body.dark-theme {
  background-color: #121212;
  color: #ffffff;
}

.navbar-light {
  background-color: #f8f9fa !important;
}

.navbar-dark {
  background-color: #343a40 !important;
}

.nav-link-light {
  color: rosybrown !important;
}

.nav-link-dark {
  color: #ffffff !important;
}

.theme-toggle-button {
  background: none;
  border: none;
  cursor: pointer;
}

.theme-icon {
  width: 24px;
  height: 24px;
}
