/* .App {
  text-align: center;
  padding: 5px;
} */

.app-container{
  display: flex;
  flex-direction: column;
  max-height: calc(100vh-130px);
  margin:0px;
}

#sidebar {
  overflow: hidden;
  width: 2%;
}

/* toggle */
.theme-toggle {
  display: flex;
  align-items: center;
  margin-left: auto;
  border-radius: 2px;
}

.react-switch .theme-icon {
  position: absolute;
  left: 8px;
  top: 5px;
  width: 24px;
  height: 24px;
  border-color: 'black';
  border-radius: 2px;
}


.content-container {
  flex: 1;
  padding-top: 60px; /* Ensure content does not go under the fixed header */
  padding-bottom: 44px; /* Ensure content does not go under the fixed footer */
  overflow-y: auto;
  margin:0px;
}



.content-container .container{
  margin-left: 0px !important;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  margin-right:0px !important;
  padding-left:0px !important;
  padding-right: 0px !important;
}




.footer-fixed {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 0;
}



/* src/App.css */
.content-container::-webkit-scrollbar {
  width: 12px;
}

.content-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.content-container::-webkit-scrollbar-thumb {
  /* background-color: rosybrown; */
  border-radius: 10px;
  border: 3px solid #f1f1f1;
}


/* src/App.css */
body.light-theme {
  background-color: #f4f5f6;
  /* color: #000000; */
}

body.dark-theme {
  background-color: #936260;
  /* color: #ffffff; */
}

.navbar-fixed .navbar-light {
  background-color: #f4f5f6 !important;
}

.navbar-fixed .navbar-dark {
  background-color: #becad4 !important;
}

.nav-link-light {
  color: rosybrown !important;
}

.nav-link-dark {
  color: rosybrown !important;
}

.theme-toggle-button {
  background: none;
  border: none;
  cursor: pointer;
}

.theme-icon {
  width: 24px;
  height: 24px;
}


.container, .container-lg, .container-md, .container-sm {
    max-width: 100%;
}

/* @media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 100% !important;
        max-height: 100% !important;

        padding-left: 0px !important;
        padding-right: 0px !important;
        background-color: #f1ece2 !important;
    }
} */
